@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}


/* @keyframes shake {
    0%,
    100% {
        transform: translateX(0);
        color: red;
    }

    25%,
    75% {
        transform: translateX(-10px);
        color: red;
    }

    50% {
        transform: translateX(10px);
        color: red;
    }
} */

.animate-shake {
    animation: shake 0.5s ease-in-out;
}

@layer base {
    .input-fields {
        @apply text-[1.3rem] placeholder:text-dark/70 text-dark border-b-[3px] border-b-primary outline-none pb-1 pt-3 focus:placeholder:opacity-0;
    }

    label {
        @apply text-[1rem] text-dark/70  flex items-center space-x-1;
    }
}
